*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgb(174, 178, 182);
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
}

h1 {
    color: rgb(245, 244, 243);
    font-size: 4vw;
    margin-bottom: 4vh;
    padding-bottom: 5vh;
    padding-top: 5vh;
    text-align: center;
}

h2 {
    color: rgb(245, 244, 243);
    font-size: 3vw;
    margin: 4vh 0;
    text-align: center;
}

.items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.item {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1vw;
    margin-bottom: 10vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

img {
    margin-bottom: 1vh;
}

input[type="submit"],
h1,
h2 {
    background-color: #232F3E;
}

input[type="submit"] {
    border-color: blue;
    color: white;
    width: 100%;
}

input[readonly] {
    border: none;
    font-size: 1.5vw;
    margin-bottom: 1vh;
    text-align: center;
    width: 100%;
}

.next {
    margin-bottom: 10vh;
    padding-bottom: 1vh;
    padding-top: 1vh;
}