<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Cart</title>
      <link rel="stylesheet" href="{{url_for('static', filename='css/shopping-cart-style.css')}}" type="text/css" />
   </head>

   <body>
      <h2>Cart</h2>
      
      {% if cart == [] %}
      <p class="empty">
         Cart is empty.
      </p>
      {% else %}
      {% for item in cart %}
      <div class="item">
         <img src="https://via.placeholder.com/150"/>
         <form>
            <p>
               {{item}}
            </p>
         </form>
      </div>
      {% endfor %}
      {% endif %}

      {% if cart == [] %}
         <form action="/clear" method="POST">
            <input type="submit" value="Return to Main Page" class="next"/>
         </form>
      {% else %}
         <form action="/clear" method="POST">
            <input type="submit" value="Clear Cart" class="next"/>
         </form>

         <form action="/checkout" method="POST">
            <input type="submit" value="Proceed to Checkout" class="next"/>
         </form>
      {% endif %}
   </body>
</html>