<html>
   <head>
      <meta charset="UTF-8" />
      <title>Azamon</title>
      <link rel="stylesheet" href="{{url_for('static', filename='css/style2.css')}}" type="text/css" />
   </head>

   <body>
      <h1>
         Azamon
      </h1>

      <section class="items">
         <div class="item">
            <img src="https://via.placeholder.com/150"/>
            <form action="/add" method="POST">
               <input type="text" value="item1" name="item-name" readonly/>
               <input type="submit" value="Add to Cart"/>
            </form>
         </div>
   
         <div class="item">
            <img src="https://via.placeholder.com/150"/>
            <form action="/add" method="POST">
               <input type="text" value="item2" name="item-name" readonly/>
               <input type="submit" value="Add to Cart"/>
            </form>
         </div>
   
         <div class="item">
            <img src="https://via.placeholder.com/150"/>
            <form action="/add" method="POST">
               <input type="text" value="item3" name="item-name" readonly/>
               <input type="submit" value="Add to Cart"/>
            </form>
         </div>
   
         <div class="item">
            <img src="https://via.placeholder.com/150"/>
            <form action="/add" method="POST">
               <input type="text" value="item4" name="item-name" readonly/>
               <input type="submit" value="Add to Cart"/>
            </form>
         </div>

         <div class="item">
            <img src="https://via.placeholder.com/150"/>
            <form action="/add" method="POST">
               <input type="text" value="item5" name="item-name" readonly/>
               <input type="submit" value="Add to Cart"/>
            </form>
         </div>
   
         <div class="item">
            <img src="https://via.placeholder.com/150"/>
            <form action="/add" method="POST">
               <input type="text" value="item6" name="item-name" readonly/>
               <input type="submit" value="Add to Cart"/>
            </form>
         </div>
   
         <div class="item">
            <img src="https://via.placeholder.com/150"/>
            <form action="/add" method="POST">
               <input type="text" value="item7" name="item-name" readonly/>
               <input type="submit" value="Add to Cart"/>
            </form>
         </div>
   
         <div class="item">
            <img src="https://via.placeholder.com/150"/>
            <form action="/add" method="POST">
               <input type="text" value="item8" name="item-name" readonly/>
               <input type="submit" value="Add to Cart"/>
            </form>
         </div>
         
         <div class="item">
            <img src="https://via.placeholder.com/150"/>
            <form action="/add" method="POST">
               <input type="text" value="item9" name="item-name" readonly/>
               <input type="submit" value="Add to Cart"/>
            </form>
         </div>
   
         <div class="item">
            <img src="https://via.placeholder.com/150"/>
            <form action="/add" method="POST">
               <input type="text" value="item10" name="item-name" readonly/>
               <input type="submit" value="Add to Cart"/>
            </form>
         </div>
   
         <div class="item">
            <img src="https://via.placeholder.com/150"/>
            <form action="/add" method="POST">
               <input type="text" value="item11" name="item-name" readonly/>
               <input type="submit" value="Add to Cart"/>
            </form>
         </div>
   
         <div class="item">
            <img src="https://via.placeholder.com/150"/>
            <form action="/add" method="POST">
               <input type="text" value="item12" name="item-name" readonly/>
               <input type="submit" value="Add to Cart"/>
            </form>
         </div>
         
         <div class="item">
            <img src="https://via.placeholder.com/150"/>
            <form action="/add" method="POST">
               <input type="text" value="item13" name="item-name" readonly/>
               <input type="submit" value="Add to Cart"/>
            </form>
         </div>
   
         <div class="item">
            <img src="https://via.placeholder.com/150"/>
            <form action="/add" method="POST">
               <input type="text" value="item14" name="item-name" readonly/>
               <input type="submit" value="Add to Cart"/>
            </form>
         </div>
   
         <div class="item">
            <img src="https://via.placeholder.com/150"/>
            <form action="/add" method="POST">
               <input type="text" value="item15" name="item-name" readonly/>
               <input type="submit" value="Add to Cart"/>
            </form>
         </div>
   
         <div class="item">
            <img src="https://via.placeholder.com/150"/>
            <form action="/add" method="POST">
               <input type="text" value="item16" name="item-name" readonly/>
               <input type="submit" value="Add to Cart"/>
            </form>
         </div>
         
         <div class="item">
            <img src="https://via.placeholder.com/150"/>
            <form action="/add" method="POST">
               <input type="text" value="item17" name="item-name" readonly/>
               <input type="submit" value="Add to Cart"/>
            </form>
         </div>
   
         <div class="item">
            <img src="https://via.placeholder.com/150"/>
            <form action="/add" method="POST">
               <input type="text" value="item18" name="item-name" readonly/>
               <input type="submit" value="Add to Cart"/>
            </form>
         </div>
   
         <div class="item">
            <img src="https://via.placeholder.com/150"/>
            <form action="/add" method="POST">
               <input type="text" value="item19" name="item-name" readonly/>
               <input type="submit" value="Add to Cart"/>
            </form>
         </div>
      </section>

      <form action="/cart" method="POST">
         <input type="submit" value="View Cart" class="next"/>
      </form>
   </body>
</html>