<html>
   <head>
      <meta charset="UTF-8" />
      <title>Shopping Cart</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" type="text/css" />
   </head>

   <body>
      <h1>
         Azamon
      </h1>

      <form action="/add" method="POST">
         <input type="text" value="item1" name="item-name"/>
         <input type="submit" value="Add to Cart"/>
      </form>

      <form action="/add" method="POST">
         <input type="text" value="item2" name="item-name"/>
         <input type="submit" value="Add to Cart"/>
      </form>

      <form action="/add" method="POST">
         <input type="text" value="item3" name="item-name"/>
         <input type="submit" value="Add to Cart"/>
      </form>

      <form action="/add" method="POST">
         <input type="text" value="item4" name="item-name"/>
         <input type="submit" value="Add to Cart"/>
      </form>

      <form action="/cart" method="POST">
         <input type="submit" value="View Cart"/>
      </form>
   </body>
</html>